<div class="navbar-center bg-accent text-center">
  <a class="btn btn-ghost text-2xl" href="/">Busca CEP</a>
</div>

<div class="text-center mt-[100px] mb-[165px]">
  <h2 class="mb-4 text-2xl">Digite aqui o CEP desejado:</h2>

  <%= form_with url: find_cep_path, method: :post do |f| %>
    <%= f.text_field :find_cep, placeholder: "Digite o cep:", class: "input input-bordered input-lg w-full max-w-xs" %>
    <%= f.submit "Buscar", class: "btn btn-accent mt-4" %>
  <% end %>

  <% if @error.present? %>
    <div class="mt-4">
      <p><%= @error %></p>
    </div>
  <% end %>

  <% if @address.present? %>
    <%= render_address(@address) %>
  <% end %>

  <div class="flex w-full flex-col lg:flex-row" style="max-width: 900px; margin: 100px auto;">
    <div class="card bg-base-300 rounded-box grid flex-grow place-items-center p-6">

      <h2 class="text-xl font-bold">Top 5 CEPs Consultados:</h2>
      <table class="table text-center text-base">
        <thead>
          <tr>
            <th class="text-lg">CEP</th>
            <th class="text-lg">Consultas</th>
          </tr>
        </thead>
        <tbody>
          <% CepLog.top_five.each do |cep_log| %>
            <tr>
              <th><%= cep_log.cep %></th>
              <td><%= cep_log.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="divider lg:divider-horizontal"></div>

    <div class="card bg-base-300 rounded-box grid flex-grow place-items-center p-6">
      <h2 class="text-xl font-bold">Top 5 CEPs Consultados por Estado:</h2>
      <table class="table text-center text-base">
        <thead>
          <tr>
            <th class="text-lg">Estado</th>
            <th class="text-lg">CEP</th>
            <th class="text-lg">Consultas</th>
          </tr>
        </thead>
        <tbody>
          <% CepLog.top_five_by_state.sort_by(&:count).reverse.each do |cep_log| %>
            <tr>
              <th><%= cep_log.state %></th>
              <th><%= cep_log.cep %></th>
              <td><%= cep_log.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="footer bg-neutral text-neutral-content p-10 footer-center">
  <aside>
    <p>Copyleft 🄯 - Todos os direitos compartilhados</p>
  </aside>
</footer>
